@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

:root {
  --primary-color: #b6b3b3;
  --primary-hover-color: #a74b4b;
  --dark-color: #263238;
  --secondary-color: #f3f1f1;
  --light-color: #F5F5F5;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Kanit', sans-serif;
}

a {
  text-decoration: none;
}